body {
    font-family: 'Quicksand', sans-serif;
}

.button1 {
    background-color: #5e2657;
}

.button1:hover {
    background-color: #381535;
}

.button2 {
    background-color: white;
    color: #461A42;
}

.button2:hover {
    background-color: #fdf6e5;
}