body {
    font-family: 'Quicksand', sans-serif;
}

.button1 {
    background-color: #5D2057;
}

.button1:hover {
    background-color: #381535;
}

.button2 {
    background-color: white;
}

.button2:hover {
    background-color: rgba(255,164,2,0.1);
    
}